<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login securely to AmIn</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<h2>New User registration</h2>

<form action="#" th:action="@{/newuser}" th:object="${user}" class="form-horizontal" id="add-user-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName')}" />
    </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button
                        th:with="text=${user['new']} ? 'Add User' : 'Update User'"
                        class="btn btn-default" type="submit" th:text="${text}">Add
                    User</button>
            </div>
        </div>
</form>
</body>
</html>